<%= form_for [@schedule,@bet] do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

<div class="field">
    <%= form.label :score_home_team %>
    <%= form.number_field :score_home_team %>
  </div>


<div class="field">
    <%= form.label :score_away_team %>
    <%= form.number_field :score_away_team %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
