<%= form_with(model: bet, local: true) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= form.number_field :schedule_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
