<p id="notice"><%= notice %></p>

<% @team.players.each do |player| %>
      <tr>
        <strong>Name:</strong>
        <td><%= player.name%></td>
        <strong>Lastname:</strong>
        <td><%= player.lastname %></td>
        <strong>Position:</strong>
        <td><%= player.position %></td>
         <strong>Level:</strong>
        <td><%= player.level %></td>
        
      </tr>
<% end %>

